.indisponivel {
    display: block;
    position: relative;
    height: 30px;
    width: 150px;
    background-color: #808080;
    border: 1px solid #000;
}

.ocupado {
    display: block;
    position: relative;
    height: 30px;
    width: 150px;
    background-color: #ff0000;
    border: 1px solid #000;
}
.quadrado {
    display: block;
    position: relative;
    cursor: pointer;
}

    .quadrado input {
        position: relative;
        cursor: pointer;
        opacity: 0;
        height: 0;
        width: 0;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 150px;
    background-color: #dbf8b4;
    border: 1px solid #000;
}

.quadrado input:checked ~ .checkmark {
    background-color: #f8c1b4;
}

/* On mouse-over, add a grey background color */
.quadrado:hover input ~ .checkmark {
    background-color: #ccc;
}