.img_mon_details {
    top: 0%;
    right: 0%;
    width: 360px;
    height: 200px;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.mon_details_section {
    margin: 0;
    height: auto;
    width: auto;
    position: relative;
}

.img_mon_miniature {
    right: 0%;
    width: 60px;
    height: 40px;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;
}

.mon_miniature_section {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 65px;
    width: auto;
    position: relative;
}