
SpotGuru/SpotGuru/obj/Debug/net5.0/project.razor.json
*.dll
*.dll
SpotGuru/SpotGuru/bin/Debug/net5.0/ref/SpotGuru.dll
SpotGuru/SpotGuru/bin/Debug/net5.0/SpotGuru.dll
SpotGuru/SpotGuru/obj/Debug/net5.0/Razor/Views/Historico/Delete.cshtml.g.cs
SpotGuru/SpotGuru/obj/Debug/net5.0/Razor/Views/Historico/Details.cshtml.g.cs
SpotGuru/SpotGuru/obj/Debug/net5.0/Razor/Views/Historico/Index.cshtml.g.cs
SpotGuru/SpotGuru/obj/Debug/net5.0/SpotGuru.csproj.FileListAbsolute.txt
*.v2
SpotGuru/.vs/SpotGuru/v17/.futdcache.v1
SpotGuru/.vs/SpotGuru/DesignTimeBuild/.dtbcache.v2
SpotGuru/.vs/SpotGuru/v17/.futdcache.v1
SpotGuru/.vs/SpotGuru/v17/.suo
*.dll
SpotGuru/SpotGuru/bin/Debug/net5.0/SpotGuru.dll
