@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome Human</h1>

    <img src="/images/misc/SpotGuru.png" alt="Not Found" style="padding: 1rem; max-width:fit-content; width: inherit; object-fit: cover; object-position: center center;">

    <p>Click the button to list monuments nearby.</p>

    <button onclick="addLocationToUrl(url='Monumentos/MonumentsSortedByDistance?')">Click me</button>
</div>
<script src="~/scripts/geolocation.js"></script>