@using SpotGuru.Helpers
@using SpotGuru.Models
@model bool

@{
    ViewData["Title"] = "Filters";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/customCheckBox.css" />
}

<h1>Monumentos</h1>

<br />
<h4>Search By Name</h4>
<div>
    <div class="form-group">
        <input id="monumentName" class="form-control" />
    </div>
    <button class="button" onclick="SearchByName()">Search</button>
</div>

<br />
<h4>Search with Filters</h4>
<div id="FiltersList">
    @{
        IEnumerable<Categorias> categorias = Enum.GetValues(typeof(Categorias)).Cast<Categorias>().OrderBy(cat => EnumExtensionMethods.GetDescription(cat));
    }

    @foreach (Categorias cat in categorias)
    {
        <label class="checkBoxContainer">@EnumExtensionMethods.GetDescription(cat)
            <input type="checkbox" id=@cat>
            <span class="checkmark"></span>
        </label>
    }

    @if (Model)
    {
        <a id="sortBool" name="true"></a>
    }
    else
    {
        <a id="sortBool" name="false"></a>
    }


    <button class="button" onclick="SaveList()">Search</button>

</div>

<script>
    var SaveList = function() {
        
        var arr = [];
        var commaSeparatedIds = "";

        $("#FiltersList label input[type=checkbox]").each(function (index,val){
            var id = $(val).attr("Id");
            var isChecked = $("#" + id).is(":checked",true);
            if(isChecked){
                arr.push(id);
            }
        })

        if(arr.length != 0){
            commaSeparatedIds = arr.toString();
            var sort = document.getElementById("sortBool");
            const url = "/Monumentos/ApplyFilters?FiltersList=" + commaSeparatedIds + "&sortByDistance=" + $(sort).attr("name") + "&";
            addLocationToUrl(url);
        }
        else{
            const url = "/Monumentos/Index?";
            addLocationToUrl(url);
        }
    }

    var SearchByName = function(){
        const url = "/Monumentos/SearchMonumentByName?name=" + document.getElementById("monumentName").value + "&";
        addLocationToUrl(url);
    }
</script>

<script src="~/scripts/geolocation.js"></script>