@using SpotGuru.Helpers
@model IEnumerable<SpotGuru.ViewModels.MonumentosView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Monuments</h1>
Click <a asp-controller="Monumentos" asp-action="Filters" asp-route-sortByDistance="true"><strong>here</strong></a> to choose filters! 
<partial name="ListMonuments" />